@{
    ViewData["Title"] = "Home Page";
}

<span>Sample Actions:</span>
<ul>
    <li>
        <a href="/api/paymentmethods" target="_blank">Get Payment Methods</a>
    </li>
    <li>
        <a href="/api/payments/createpurchase" target="_blank">Create Checkout</a>
    </li>
    <li>
        <a href="/api/publickeys" target="_blank">Get Public Key</a>
    </li>
</ul>

